In [403]:
import pandas as pd

In [404]:
ad=pd.read_csv("Attrition_dataset.csv")

In [405]:
ad.columns

Index(['EmployeeID', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'store_name', 'gender_short',
       'gender_full', 'termreason_desc', 'termtype_desc', 'STATUS_YEAR',
       'STATUS', 'BUSINESS_UNIT'],
      dtype='object')

In [406]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49653 entries, 0 to 49652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeID           49653 non-null  int64
 1   recorddate_key       49653 non-null  object
 2   birthdate_key        49653 non-null  object
 3   orighiredate_key     49653 non-null  object
 4   terminationdate_key  49653 non-null  object
 5   age                  49653 non-null  int64
 6   length_of_service    49653 non-null  int64
 7   city_name            49653 non-null  object
 8   department_name      49653 non-null  object
 9   job_title            49653 non-null  object
 10  store_name           49653 non-null  int64
 11  gender_short         49653 non-null  object
 12  gender_full          49653 non-null  object
 13  termreason_desc      49653 non-null  object
 14  termtype_desc        49653 non-null  object
 15  STATUS_YEAR          49653 non-null  int64
 16  STATUS               49653 non-null  object
 17  BUSINESS_UNIT        49653 non-null  object
dtypes: int64(5), object(13)
memory usage: 6.8+ MB

In [407]:
ad

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49648,8258,12/1/2015 0:00,5/28/1994,8/19/2013,12/30/2015,21,2,Valemount,Dairy,Dairy Person,34,M,Male,Layoff,Involuntary,2015,TERMINATED,STORES
49649,8264,8/1/2013 0:00,6/13/1994,8/27/2013,8/30/2013,19,0,Vancouver,Customer Service,Cashier,44,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49650,8279,12/1/2015 0:00,7/18/1994,9/15/2013,12/30/2015,21,2,White Rock,Customer Service,Cashier,39,F,Female,Layoff,Involuntary,2015,TERMINATED,STORES
49651,8296,12/1/2013 0:00,9/2/1994,10/9/2013,12/31/2013,19,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,8321,12/1/2014 0:00,11/28/1994,11/24/2013,12/30/2014,20,1,Grand Forks,Customer Service,Cashier,13,F,Female,Layoff,Involuntary,2014,TERMINATED,STORES

In [408]:
ad.head(15)

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE
5,1318,12/31/2011 0:00,1/3/1954,8/28/1989,1/1/1900,57,22,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2011,ACTIVE,HEADOFFICE
6,1318,12/31/2012 0:00,1/3/1954,8/28/1989,1/1/1900,58,23,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2012,ACTIVE,HEADOFFICE
7,1318,12/31/2013 0:00,1/3/1954,8/28/1989,1/1/1900,59,24,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2013,ACTIVE,HEADOFFICE
8,1318,12/31/2014 0:00,1/3/1954,8/28/1989,1/1/1900,60,25,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2014,ACTIVE,HEADOFFICE
9,1318,12/31/2015 0:00,1/3/1954,8/28/1989,1/1/1900,61,26,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2015,ACTIVE,HEADOFFICE
10,1319,12/31/2006 0:00,1/3/1957,8/28/1989,1/1/1900,49,17,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
11,1319,12/31/2007 0:00,1/3/1957,8/28/1989,1/1/1900,50,18,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
12,1319,12/31/2008 0:00,1/3/1957,8/28/1989,1/1/1900,51,19,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
13,1319,12/31/2009 0:00,1/3/1957,8/28/1989,1/1/1900,52,20,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
14,1319,12/31/2010 0:00,1/3/1957,8/28/1989,1/1/1900,53,21,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE

In [409]:
ad.tail()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
49648,8258,12/1/2015 0:00,5/28/1994,8/19/2013,12/30/2015,21,2,Valemount,Dairy,Dairy Person,34,M,Male,Layoff,Involuntary,2015,TERMINATED,STORES
49649,8264,8/1/2013 0:00,6/13/1994,8/27/2013,8/30/2013,19,0,Vancouver,Customer Service,Cashier,44,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49650,8279,12/1/2015 0:00,7/18/1994,9/15/2013,12/30/2015,21,2,White Rock,Customer Service,Cashier,39,F,Female,Layoff,Involuntary,2015,TERMINATED,STORES
49651,8296,12/1/2013 0:00,9/2/1994,10/9/2013,12/31/2013,19,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,8321,12/1/2014 0:00,11/28/1994,11/24/2013,12/30/2014,20,1,Grand Forks,Customer Service,Cashier,13,F,Female,Layoff,Involuntary,2014,TERMINATED,STORES

In [410]:
l=ad.columns[[1,2,3,4]]

In [411]:
for i in l:
    ad[i]=pd.to_datetime(ad[i])

ad["recorddate_key"]=pd.to_datetime(ad["recorddate_key"])
ad.birthdate_key=pd.to_datetime(ad.birthdate_key)
ad["orighiredate_key"]=pd.to_datetime(ad.orighiredate_key)
ad["terminationdate_key"]=pd.to_datetime(ad.terminationdate_key)
Instead of writing 4 lines we can use for loop

In [412]:
ad.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
49648    False
49649    False
49650    False
49651    False
49652    False
Length: 49653, dtype: bool

In [413]:
ad.EmployeeID.duplicated().all()

False

In [414]:
ad.EmployeeID=ad.EmployeeID.drop_duplicates(keep="last")

can keep 1st or last 
keep="first"
keep="last"
keep=None
after removing dulipcate EmployeeID int is converted to null because int and null not together

In [415]:
ad=ad.dropna()

(axis=0,axis=1)
0=row
1=columns

In [416]:
ad.head(10)

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
9,1318.0,2015-12-31,1954-01-03,1989-08-28,1900-01-01,61,26,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2015,ACTIVE,HEADOFFICE
19,1319.0,2015-12-31,1957-01-03,1989-08-28,1900-01-01,58,26,Vancouver,Executive,VP Stores,35,F,Female,Not Applicable,Not Applicable,2015,ACTIVE,HEADOFFICE
29,1320.0,2015-12-31,1955-01-02,1989-08-28,1900-01-01,60,26,Vancouver,Executive,Legal Counsel,35,F,Female,Not Applicable,Not Applicable,2015,ACTIVE,HEADOFFICE
39,1321.0,2015-12-31,1959-01-02,1989-08-28,1900-01-01,56,26,Vancouver,Executive,VP Human Resources,35,M,Male,Not Applicable,Not Applicable,2015,ACTIVE,HEADOFFICE
49,1322.0,2015-12-31,1958-01-09,1989-08-31,1900-01-01,57,26,Vancouver,Executive,VP Finance,35,M,Male,Not Applicable,Not Applicable,2015,ACTIVE,HEADOFFICE
59,1323.0,2015-12-31,1962-01-09,1989-08-31,1900-01-01,53,26,Vancouver,Executive,"Exec Assistant, VP Stores",35,M,Male,Not Applicable,Not Applicable,2015,ACTIVE,HEADOFFICE
69,1325.0,2015-12-31,1964-01-13,1989-09-02,1900-01-01,51,26,Vancouver,Executive,"Exec Assistant, Legal Counsel",35,F,Female,Not Applicable,Not Applicable,2015,ACTIVE,HEADOFFICE
79,1328.0,2015-12-31,1956-01-17,1989-09-05,1900-01-01,59,26,Vancouver,Executive,CHief Information Officer,35,F,Female,Not Applicable,Not Applicable,2015,ACTIVE,HEADOFFICE
89,1329.0,2015-12-31,1967-01-23,1989-09-08,1900-01-01,48,26,Terrace,Store Management,Store Manager,32,F,Female,Not Applicable,Not Applicable,2015,ACTIVE,STORES
99,1330.0,2015-12-31,1967-01-25,1989-09-09,1900-01-01,48,26,Terrace,Meats,Meats Manager,32,F,Female,Not Applicable,Not Applicable,2015,ACTIVE,STORES

In [417]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6284 entries, 9 to 49652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeID           6284 non-null   float64
 1   recorddate_key       6284 non-null   datetime64[ns]
 2   birthdate_key        6284 non-null   datetime64[ns]
 3   orighiredate_key     6284 non-null   datetime64[ns]
 4   terminationdate_key  6284 non-null   datetime64[ns]
 5   age                  6284 non-null   int64
 6   length_of_service    6284 non-null   int64
 7   city_name            6284 non-null   object
 8   department_name      6284 non-null   object
 9   job_title            6284 non-null   object
 10  store_name           6284 non-null   int64
 11  gender_short         6284 non-null   object
 12  gender_full          6284 non-null   object
 13  termreason_desc      6284 non-null   object
 14  termtype_desc        6284 non-null   object
 15  STATUS_YEAR          6284 non-null   int64
 16  STATUS               6284 non-null   object
 17  BUSINESS_UNIT        6284 non-null   object
dtypes: datetime64[ns](4), float64(1), int64(4), object(9)
memory usage: 932.8+ KB

In [418]:
ad=ad.reset_index(drop=True)

In [419]:
ad.duplicated().any()

False

In [420]:
ad=ad.astype({"EmployeeID":int})

In [421]:
ad.store_name.unique()

array([35, 32, 18, 43, 29, 16, 26, 15,  8, 36, 38, 21, 44,  5, 25, 17, 28,
        1, 30,  2, 22, 31, 41,  6, 46, 40, 33, 12,  3, 19, 42, 37,  9,  7,
       13, 45, 39, 20, 11, 14, 34, 23, 24, 27, 10,  4], dtype=int64)

In [422]:
ad=ad.drop(columns=['store_name','gender_short'])

In [423]:
col_rename=['eid','record_date','dob','hire_date','term_date','age','experience','city',
   'dept','job','gender','term_reason','term_type','status_year','status','business_unit']

In [424]:
ad.columns=col_rename

In [425]:
ad.columns

Index(['eid', 'record_date', 'dob', 'hire_date', 'term_date', 'age',
       'experience', 'city', 'dept', 'job', 'gender', 'term_reason',
       'term_type', 'status_year', 'status', 'business_unit'],
      dtype='object')

In [426]:
ad.agg({'age':[min,max],'experience':[min,max]})

C:\Users\Keerthana\AppData\Local\Temp\ipykernel_11616\2239457428.py:1: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  ad.agg({'age':[min,max],'experience':[min,max]})
C:\Users\Keerthana\AppData\Local\Temp\ipykernel_11616\2239457428.py:1: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ad.agg({'age':[min,max],'experience':[min,max]})

     age  experience
min   19           0
max   65          26

In [427]:
ad["age_category"]=pd.cut(ad['age'],bins=[18,30,59,65],labels=['Teen','Adult','Senior'],right=True,include_lowest=True)
ad["exp_level"]=pd.cut(ad['experience'],bins=[0,3,15,26],labels=['Fresher','Intermidiate','Expert'],right=True,include_lowest=True)

In [428]:
# ad.business_unit=ad.business_unit.str.title()
# ad.status=ad.status.str.title()
for i in ['status','business_unit']:
    ad[i]=ad[i].str.title()

In [429]:
ad.loc[ad['status']=='Active']

,eid,record_date,dob,hire_date,term_date,age,experience,city,dept,job,gender,term_reason,term_type,status_year,status,business_unit,age_category,exp_level
0,1318,2015-12-31,1954-01-03,1989-08-28,1900-01-01,61,26,Vancouver,Executive,CEO,Male,Not Applicable,Not Applicable,2015,Active,Headoffice,Senior,Expert
1,1319,2015-12-31,1957-01-03,1989-08-28,1900-01-01,58,26,Vancouver,Executive,VP Stores,Female,Not Applicable,Not Applicable,2015,Active,Headoffice,Adult,Expert
2,1320,2015-12-31,1955-01-02,1989-08-28,1900-01-01,60,26,Vancouver,Executive,Legal Counsel,Female,Not Applicable,Not Applicable,2015,Active,Headoffice,Senior,Expert
3,1321,2015-12-31,1959-01-02,1989-08-28,1900-01-01,56,26,Vancouver,Executive,VP Human Resources,Male,Not Applicable,Not Applicable,2015,Active,Headoffice,Adult,Expert
4,1322,2015-12-31,1958-01-09,1989-08-31,1900-01-01,57,26,Vancouver,Executive,VP Finance,Male,Not Applicable,Not Applicable,2015,Active,Headoffice,Adult,Expert
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4794,8332,2015-12-31,1994-12-20,2013-12-05,1900-01-01,21,2,Langley,Customer Service,Cashier,Female,Not Applicable,Not Applicable,2015,Active,Stores,Teen,Fresher
4795,8333,2015-12-31,1994-12-19,2013-12-05,1900-01-01,21,2,Fort St John,Customer Service,Cashier,Male,Not Applicable,Not Applicable,2015,Active,Stores,Teen,Fresher
4796,8334,2015-12-31,1994-12-27,2013-12-09,1900-01-01,21,2,West Vancouver,Customer Service,Cashier,Female,Not Applicable,Not Applicable,2015,Active,Stores,Teen,Fresher
4797,8335,2015-12-31,1994-12-28,2013-12-10,1900-01-01,21,2,Vancouver,Dairy,Dairy Person,Female,Not Applicable,Not Applicable,2015,Active,Stores,Teen,Fresher
4798,8336,2015-12-31,1994-12-31,2013-12-11,1900-01-01,21,2,Vancouver,Dairy,Dairy Person,Male,Not Applicable,Not Applicable,2015,Active,Stores,Teen,Fresher

In [430]:
ad.loc[ad['status']=="Terminated"]

,eid,record_date,dob,hire_date,term_date,age,experience,city,dept,job,gender,term_reason,term_type,status_year,status,business_unit,age_category,exp_level
4799,1338,2009-02-01,1949-02-16,1989-09-20,2009-02-16,60,19,Vancouver,Training,"Director, Training",Male,Retirement,Voluntary,2009,Terminated,Headoffice,Senior,Expert
4800,1339,2014-02-01,1949-02-19,1989-09-22,2014-02-19,65,24,Nelson,Store Management,Store Manager,Female,Retirement,Voluntary,2014,Terminated,Stores,Senior,Expert
4801,1340,2009-02-01,1949-02-19,1989-09-22,2009-02-19,60,19,Kelowna,Store Management,Store Manager,Male,Retirement,Voluntary,2009,Terminated,Stores,Senior,Expert
4802,1341,2009-02-01,1949-02-21,1989-09-23,2009-02-21,60,19,Vancouver,Labor Relations,"Director, Labor Relations",Male,Retirement,Voluntary,2009,Terminated,Headoffice,Senior,Expert
4803,1343,2014-02-01,1949-02-24,1989-09-25,2014-02-24,65,24,Victoria,Store Management,Store Manager,Female,Retirement,Voluntary,2014,Terminated,Stores,Senior,Expert
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6279,8258,2015-12-01,1994-05-28,2013-08-19,2015-12-30,21,2,Valemount,Dairy,Dairy Person,Male,Layoff,Involuntary,2015,Terminated,Stores,Teen,Fresher
6280,8264,2013-08-01,1994-06-13,2013-08-27,2013-08-30,19,0,Vancouver,Customer Service,Cashier,Female,Resignaton,Voluntary,2013,Terminated,Stores,Teen,Fresher
6281,8279,2015-12-01,1994-07-18,2013-09-15,2015-12-30,21,2,White Rock,Customer Service,Cashier,Female,Layoff,Involuntary,2015,Terminated,Stores,Teen,Fresher
6282,8296,2013-12-01,1994-09-02,2013-10-09,2013-12-31,19,0,Kelowna,Customer Service,Cashier,Female,Resignaton,Voluntary,2013,Terminated,Stores,Teen,Fresher
6283,8321,2014-12-01,1994-11-28,2013-11-24,2014-12-30,20,1,Grand Forks,Customer Service,Cashier,Female,Layoff,Involuntary,2014,Terminated,Stores,Teen,Fresher

get the termdate of active employees

In [431]:
active_term=ad.loc[ad['status']=='Active','term_date']

get the record date of active emp

In [432]:
active_record=ad.loc[ad['status']=='Active','record_date']

In [437]:
ad.loc[ad['status']=='Active','term_date']=active_record

In [438]:
ad

,eid,record_date,dob,hire_date,term_date,age,experience,city,dept,job,gender,term_reason,term_type,status_year,status,business_unit,age_category,exp_level
0,1318,2015-12-31,1954-01-03,1989-08-28,2015-12-31,61,26,Vancouver,Executive,CEO,Male,Not Applicable,Not Applicable,2015,Active,Headoffice,Senior,Expert
1,1319,2015-12-31,1957-01-03,1989-08-28,2015-12-31,58,26,Vancouver,Executive,VP Stores,Female,Not Applicable,Not Applicable,2015,Active,Headoffice,Adult,Expert
2,1320,2015-12-31,1955-01-02,1989-08-28,2015-12-31,60,26,Vancouver,Executive,Legal Counsel,Female,Not Applicable,Not Applicable,2015,Active,Headoffice,Senior,Expert
3,1321,2015-12-31,1959-01-02,1989-08-28,2015-12-31,56,26,Vancouver,Executive,VP Human Resources,Male,Not Applicable,Not Applicable,2015,Active,Headoffice,Adult,Expert
4,1322,2015-12-31,1958-01-09,1989-08-31,2015-12-31,57,26,Vancouver,Executive,VP Finance,Male,Not Applicable,Not Applicable,2015,Active,Headoffice,Adult,Expert
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6279,8258,2015-12-01,1994-05-28,2013-08-19,2015-12-30,21,2,Valemount,Dairy,Dairy Person,Male,Layoff,Involuntary,2015,Terminated,Stores,Teen,Fresher
6280,8264,2013-08-01,1994-06-13,2013-08-27,2013-08-30,19,0,Vancouver,Customer Service,Cashier,Female,Resignaton,Voluntary,2013,Terminated,Stores,Teen,Fresher
6281,8279,2015-12-01,1994-07-18,2013-09-15,2015-12-30,21,2,White Rock,Customer Service,Cashier,Female,Layoff,Involuntary,2015,Terminated,Stores,Teen,Fresher
6282,8296,2013-12-01,1994-09-02,2013-10-09,2013-12-31,19,0,Kelowna,Customer Service,Cashier,Female,Resignaton,Voluntary,2013,Terminated,Stores,Teen,Fresher
6283,8321,2014-12-01,1994-11-28,2013-11-24,2014-12-30,20,1,Grand Forks,Customer Service,Cashier,Female,Layoff,Involuntary,2014,Terminated,Stores,Teen,Fresher

In [434]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6284 entries, 0 to 6283
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   eid            6284 non-null   int32
 1   record_date    6284 non-null   datetime64[ns]
 2   dob            6284 non-null   datetime64[ns]
 3   hire_date      6284 non-null   datetime64[ns]
 4   term_date      6284 non-null   datetime64[ns]
 5   age            6284 non-null   int64
 6   experience     6284 non-null   int64
 7   city           6284 non-null   object
 8   dept           6284 non-null   object
 9   job            6284 non-null   object
 10  gender         6284 non-null   object
 11  term_reason    6284 non-null   object
 12  term_type      6284 non-null   object
 13  status_year    6284 non-null   int64
 14  status         6284 non-null   object
 15  business_unit  6284 non-null   object
 16  age_category   6284 non-null   category
 17  exp_level      6284 non-null   category
dtypes: category(2), datetime64[ns](4), int32(1), int64(3), object(8)
memory usage: 773.6+ KB